services:
  - type: web
    name: krishn-lightning-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: PRODUCTION
        value: true